{% extends 'root.html' %}
{% block content %}
<h1 class="text-center mt-3">Круизы</h1>
<div class="row row-cols-3 row-cols-md-6 g-6">
{% for cruise in cruise_list %}
<div class="d-flex m-5">
<div class="card" style="width: 18rem;">
  <img src="{{ cruise.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ cruise.title }}</h5>
    <p class="card-text">Города: {{ cruise.сities }}</p>
      <p class="card-text">Стоимость: {{ cruise.price }} руб.</p>
    <a href="" class="btn btn-info">Подробнее</a>
  </div>
</div>
</div>

{% endfor %}
</div>
{% endblock %}